services:
  springboot-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot-app
    environment:
      - SPRING_PROFILES_ACTIVE=redis-cluster
    ports:
      - "8080:8080"
    networks:
      - redis-net

networks:
  redis-net:
    driver: bridge
